body{
    background-color: #1e2040;
    margin: 0;
    padding: 0;
}

.container{
    height: 400px;
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.branch{
    height: 15px;
    width: 350px;
    background-color: #8b4513;
    position: absolute;
    top: 260px;
    left: 0;
    border-radius: 0 15px 15px 0;
}

.branch>div{
    position: absolute;
    height: 10px;
    width: 50px;
    background-color: #8b4513;
    transform: rotate(-30deg);
    position: relative;
    left: 250px;
    bottom: 10px;
    border-radius: 8px;
    z-index: 1;
}

.owl{
    height: 160px;
    width: 120px;
    background-color: #cfae69;
    border-radius: 120px;
    position: absolute;
    top: 125px;
    left: 100px;
    z-index: -1;
}
.ear-r, .ear-l{
    height: 0;
    width: 0;
    border-bottom: 33px solid #a6813b;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    position: relative;
    z-index: -2;
    
}
.ear-l{
    bottom: 10px;
    left: 3px;
    transform: rotate(-20deg);
}

.ear-r{
    bottom: 42px;
    left: 85px;
    transform: rotate(20deg);
}

.wing-l, .wing-r{
    background-color: #a6813b;
    height: 80px;
    width: 20px;
    position: relative;
    z-index: 2;
}

.wing-l{
right: 8px;
top: 4px;
border-radius: 20px 0;
}

.wing-r{
    left: 108px;
    bottom: 76px;
    border-radius: 0 20px;
}

.eye-l, .eye-r{
    height: 41px;
    width: 41px;
    background-color: #a6813b;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.eye-l{
    bottom: 190px;
    left: 12px;
}

.eye-r{
    bottom: 230px;
    left: 67px;
}

.eye-l:before, .eye-r:before{
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    background-color:white;
    border-radius: 50%;
    left: 4.5px;
    top: 4.5px;
}
.eyeball{
    height: 15px;
    width: 15px;
    background-color: #424242;
    position: absolute;
    border-radius: 50%;
    left: 13px;
    top: 13px;
}

.eyelid{
    height: 50px;
    width: 50px;
    background-color: #a6813b;
    position: relative;
    bottom: 30px;
    right: 5px;
    animation: blink 2s infinite;
}

@keyframes blink{
    30%{
        transform: translateY(18px);
    }
}

.beak{
    height: 0;
    width: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 20px solid #ffcc30;
    bottom: 240px;
    left: 47.5px;
    position: relative;
    border-radius: 50%;
}

.leg-l,.leg-r{
background-color: #ffcc30;
height: 9px;
width: 20px;
position: relative;
z-index: 2;
border-radius: 8px;
}

.leg-l{
    bottom:199px;
    left: 25px;
}

.leg-r{
    bottom: 208px;
    left: 75px;
}